*.bak
*.kicad_pcb-bak
*.sublime-project
*.sublime-workspace

.vscode/
amaranth/
doc/
example/
luna/
modem/
old/
python-usb-protocol/
tedium/tools/tedium-tool/data/

hardware/**/*-cache.lib
hardware/**/*.sch-bak
hardware/**/fp-info-cache
hardware/**/*-rescue.dcm
hardware/**/*-rescue.lib
hardware/**/*-backups/

**/gerber/
doc/**/*.pdf
example/audio/
framer/target/

__pycache__
build/
dist/

Cargo.lock

*.gtkw
*.vcd

*.pcapng