# It appears that GROUP="users" is best practice on Arch Linux.
# https://wiki.archlinux.org/title/Udev#Accessing_firmware_programmers_and_USB_virtual_comm_devices
#
# ...but be sure to add yourself to the "users" group!
#
# ```bash
# $ sudo usermod -aG users jboone
# ```
#
# TODO: Is adding to `users` group really necessary with the `MODE` below?

SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", MODE:="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="16d0", ATTRS{idProduct}=="0f3b", MODE:="0666"
